<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>21 Savage Fans</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Personal library</h1>
  <h2>Checkout your different book collections!</h2>

<%# this is comment syntax in EJS %>

  <h3>Current list of books:</h3>
  <ul class="bookListContainer"> <%# each line when you press enter is a new node regardless if it's %>
  <% for(var i=0; i<bookList.length; i++) {%>
    <li class="bookItem" data-id="<%= bookList[i]._id %>"> <%# res.render('index.ejs', {key(bookList): value(bookList[i].bookName)}) %>
      <div>
        <span class="bookName"><%= bookList[i].bookNameDB %> by</span> <%# node index [1] %>
        <span class="bookAuthor"><%= bookList[i].bookAuthorDB %></span> <%# node index [3] %>
      </div>
      <span class="yearCreated">Year created: <%= bookList[i].yearCreatedDB %></span> <%# node index [5] %>
      <span class="currentlyReading">Currently reading: <%= bookList[i].currentlyReadingDB %></span> <%# node index [7] yes or no %>
      <span class="yearCreated">Reading progress: <%= bookList[i].readingProgressDB %></span>
      <label for="readingProgress">Reading progress
        <input type="range" name="" id="readingProgress" class="readingProgressFromInput">
        <button class="updateReadingProgressBtn">Edit</button>
      </label>
      <div>
        <!-- <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
        <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span> -->
        <span><i class="fa fa-trash" aria-hidden="true"></i></span>
      </div>
    </li>
  <% } %>
  </ul>

  <h2>Add a book</h2>
<%# don't need to add post route since submit will add to database and create it %>
<%# the key name for the post request body is what the name attribute is in the input tag (check network tab submission under payload (300)%>
  <form action="/createBookEntry" method="POST" class="bookListForm">
    <input type="text" placeholder="ex. How to win friends and influence people" name="bookNameFromForm">
    <input type="text" placeholder="ex. Dale Carnegie" name="bookAuthorFromForm">
    <input type="text" placeholder="ex. 1987" name="yearCreatedFromForm">
    <label for="currentlyReadingChoice"></label>
    <select name="currentlyReadingChoiceFromForm" id="currentlyReadingChoice">
      <option value="question">Are you currently reading this book?</option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
    <label for="readingProgress">Reading progress
      <input type="range" name="readingProgressFromForm" id="readingProgress" min="0" max="100">
    </label>
    <button type="submit">Submit</button>
  </form>

  <script src="main.js"></script>

</body>
</html>
